{% extends "bootstrap/base.html" %}
<!-- title -->
{% block title %}Site Title {% endblock %}
<!-- title //-->
<!-- styles -->
{% block styles %}
<!-- call super -->
{{ super() }}
<!-- super //-->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.icon') }}" type="image/x-icon" />
<!-- fontawesome -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- google font -->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
<!-- custom styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
<!-- styles //-->
{% endblock %}
<!-- block navbar -->
{% block navbar %} {% endblock %}
<!-- block content -->
{% block content %}
<!-- page content -->
{% block page_content %}{% endblock %}
<!-- end page_content -->
{% endblock %}
<!-- scripts -->
{% block scripts %}
<!-- call super -->
{{ super() }}
<!-- moment -->
{{ moment.include_moment() }}
<!-- moment //-->
{% endblock %}
